@use "./variables" as *;

.input-form {
  margin-bottom: 30px;
  width: 70vw;
  &__label {
    font-size: 1.5rem;
    padding: 20px;
    font-family: $secondary-font;
  }

  &__input {
    background-color: $primary-color;
    border-radius: 10px;
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 20px;
    font-family: $secondary-font;
  }
}
