@use "./variables" as *;

.input-form {
  margin-bottom: 30px;
  width: 70vw;
  &__label {
    font-size: 1.5rem;
    padding: 20px;
    font-family: $secondary-font;
  }

  &__input {
    background-color: $primary-color;
    border-radius: 10px;
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 20px;
    font-family: $secondary-font;
  }
}

@media screen and (min-width: 768px) {
  .input-form {
    padding-top: 30px;
    width: 500px;
    border-left: 4px solid $secondary-color;
    border-right: 4px solid $secondary-color;
    margin-bottom: 0;
    padding-bottom: 30px;

    &__input {
      width: 80%;
    }
  }
}
