@use "./variables" as *;

.morse-code {
  font-family: $secondary-font;
  font-size: 1.2rem;

  &__output {
    font-family: $secondary-font;
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .morse-code {
    width: 500px;
    border-left: 4px solid $secondary-color;
    border-right: 4px solid $secondary-color;
    border-bottom: 4px solid $secondary-color;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 250px;

    &__input {
      width: 80%;
    }
  }
}
