@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&display=swap");

$primary-color: white;
$secondary-color: black;
$background-color: lightsteelblue;

$primary-font: "Karla";
$secondary-font: "Inconsolata";
